<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="margin-left: 10px;">0</h1>
  <hr color="gray" size="30" width="400">
  <table class="calculadora">
    <tr>
      <td><button id="a" style="background-color: gray;">CE</button></td>
      <td><button id="b" style="background-color: gray;">√</button></td>
      <td><button id="c" style="background-color: gray">%</button></td>
      <td><button id="borrar" style="background-color: rgb(161, 102, 14);"><ion-icon name="backspace-outline"></ion-icon></button></td>
    </tr>

    <tr>
      <td><button id="a">7</button></td>
      <td><button id="b">8</button></td>
      <td><button id="c">9</button></td>
      <td><button id="/" style="background-color: rgb(161, 102, 14);">/</button></td>
    </tr>

    <tr>
      <td><button id="a">4</button></td>
      <td><button id="b">5</button></td>
      <td><button id="c">6</button></td>
      <td><button id="" style="background-color: rgb(161, 102, 14);">X</button></td>
    </tr>

    <tr>
      <td><button id="a">1</button></td>
      <td><button id="b">2</button></td>
      <td><button id="c">3</button></td>
      <td><button id="-" style="background-color: rgb(161, 102, 14);">-</button></td>
    </tr>

    <tr>
      <td><button id="a">0</button></td>
      <td><button id="b"></button></td>
      <td><button id="c">.</button></td>
      <td><button id="+" style="background-color: rgb(161, 102, 14);">+</button></td>
    </tr>
  </table>

  <style>
    td button{
      display: block;
      background-color: black;
      color: antiquewhite;
      margin-left: 15px;
      margin-top: 8px;
      width: 70px;
      height: 70px;
      font-size: 25px;
      border-radius: 50%;
    }
  </style>
</ion-content>
