<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Naruto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      @for(personaje of personajes; track $index){
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="2">
        
        <ion-card>
          
          <img alt="Silhouette of mountains" src="{{personaje.images}}" />
          <br/>
          <hr/>
          <h3>Nombre del personaje: </h3>
          <ion-input>{{personaje.name}}</ion-input>
          <h3>Jutsus: </h3>
          <br/>
          <hr/>
          <ion-input>{{personaje.jutsu}}</ion-input>
          
          <ion-button (click)="modificaPersonaje()" fill="clear">Modificar</ion-button>
          <ion-button (click)="eliminaPersonaje()" fill="clear">Eliminar</ion-button>
        </ion-card>
      
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
